<% if (config.disqus_shortname && page.comments){ %>
<section id="comment">
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-title="<%- item.title %>" data-url="<%- item.permalink %>"></div>
<!-- 多说评论框 end -->
</section>
<% } %>