#header
  /* text-shadow 0 0 1px #fff */
  margin 50px auto
  a
    color #fff
    &:hover
      /* color color-link */
      text-decoration none
    
  h1
    font-weight normal
    font-size 2.5em
    line-height 1
    a
      &:hover
        color: color-link-anti

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
  
  #main-nav
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-left 30px
        a
          display block
          padding 0 5px
          transition-property background, color
          transition-duration 0.3s
          &:hover
            // color #258fb8
            // background #fff
            border-bottom 1px solid color-link-anti

  > div
    @media screen and (max-width: 600px)
      float none
      h1
        text-align center

  nav
    @media screen and (max-width: 600px)
      float none
      text-align center
      ul
        overflow hidden
        width 50%
        margin 0 auto